/* HTML Styles */
html {
    background-color: black;
    color: white;
}

/* Body Styles */
body {
    width: 85%;
    margin: 10px auto;
}

/* H1 Styles */
h1 {
    font-size: 3em;
    font-weight: bold;
}

/* Form Styles */
input {
    display: flex;
    flex-wrap: nowrap;
    margin: 10px 0px;
    font-size: 1.1em;
}
