/* H Styles */

/* Nav Styles */
#nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 10px auto;
    background-color: rgb(45, 45, 45);
    border-top: 3px solid transparent;
    border-image: linear-gradient(to right, rgb(28, 104, 80), rgba(28, 104, 80, 0.25)) 1;
    border-image-slice: 1;
}