/* html Styles */
html {
    min-height: 100%;
    background-color: rgb(170, 162, 147);
}

/* Body Styles */
body {
    width: 80%;
    min-height: 100vh;
    margin: 0px auto;
    padding-bottom: 25px;
    background-color: rgb(238, 232, 225);
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    box-shadow: -5px 3px 50px rgb(107, 81, 48);
    z-index: -1;
}

/* Header Styles */
header {
    width: 100%;
    padding: 10px 0px;
    background: url("../images/boston-tea-party.jpg") center/100% no-repeat, /* Image Credit: Nathaniel Currier, License: Public Domain */
                rgb(255, 255, 255);
    border-bottom: 1px solid black;
}

header h1 {
    font: italic bold 5.4em "Apple Chancery";
    text-shadow: 2px 2px white,
                 -5px -5px 10px white;
    text-align: center;
}

header nav {
    padding: 5px 0px;
    background: linear-gradient(to left, rgba(230, 201, 205, 0.57), rgba(173, 151, 155, 0.57));
    /* background-color: rgba(248, 216, 221, 0.57); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 1.25em;
    text-shadow: 2px 2px 3px white,
                 -2px -2px 7px white;
}

header nav a {
    color: black;
    text-decoration: none;
}
header nav a:hover {
    color: rgb(70, 89, 60);
    text-decoration: none;
}

/* Main Styles */
main {
    width: 90%;
    margin: 10px auto;
}

main #portrait_sam {
    margin: 5px 0px 0px 15px;
    float: right;
    font-size: 0.8em;
    text-align: center;
}

/* H Styles */
h2 {
    font: italic 2.5em "Apple Chancery";
    margin: 10px auto;
    text-align: center;
}

h3 {
    font: 2em "Apple Chancery";
    margin: 10px auto;
    border-bottom: 2px solid rgb(83, 82, 82)
}

h4 {
    font: 1.4em "Apple Chancery";
    margin: 10px auto;
}

h5 {
    background-color: rgb(175, 197, 147);
    font: 1.1em "Apple Chancery";
    padding: 2px 10px;
}

h6 {
    font-size: 0.85em;
    margin: 10px 20px;
}

/* P Styles */

p:not(form p) {
    width: 90%;
    margin: 0px auto 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;
}

form p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;
}

/* Form Styles */

form {
    width: 90%;
    margin: 0px auto 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form input {
    margin: 10px auto;
}

/* Comments styles */
div.comments {
    margin: 10px 10% 25px;
    padding-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.926);
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.261);
}

div.comments p::first-letter {
    margin-left: 20px;
    font-size: 1.1em;
}